[submodule "src/GEM"]
	path = src/GEM
	url = https://github.com/wjkristiansen/GEM
	branch = v0-0-1
[submodule "src/ThinWin"]
	path = src/ThinWin
	url = https://github.com/wjkristiansen/ThinWin
[submodule "src/QLog"]
	path = src/QLog
	url = https://github.com/wjkristiansen/QLog.git
[submodule "src/wil"]
	path = src/wil
	url = https://github.com/microsoft/wil.git
[submodule "src/LinkedList"]
	path = src/LinkedList
	url = https://github.com/wjkristiansen/LinkedList
[submodule "src/Allocators"]
	path = src/Allocators
	url = https://github.com/wjkristiansen/Allocators
