[submodule "deps/GEM"]
	path = deps/GEM
	url = https://github.com/wjkristiansen/GEM
	branch = v0-0-1
[submodule "deps/ThinWin"]
	path = deps/ThinWin
	url = https://github.com/wjkristiansen/ThinWin
[submodule "deps/QLog"]
	path = deps/QLog
	url = https://github.com/wjkristiansen/QLog.git
[submodule "deps/wil"]
	path = deps/wil
	url = https://github.com/microsoft/wil.git
[submodule "deps/LinkedList"]
	path = deps/LinkedList
	url = https://github.com/wjkristiansen/LinkedList
[submodule "deps/Allocators"]
	path = deps/Allocators
	url = https://github.com/wjkristiansen/Allocators
